// Import external scss files
@import "config";

// Global Styles
* {
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

// scss styles for the body tag
body {
  .background {
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-image: linear-gradient(to right, $seaGreen, $skyBlue);
    background-size: cover;
  }
}

// scss styles for the header tag
header {
  padding: 20px;
  margin-bottom: 5rem;
  &.logo {
    img {
      width: 100px;
    }
  }
}

// Main Styles
main {
  .scale {
    margin: 2rem;
    img {
      width: 210px;
    }
  }

  //   Styles for the "Add Weight" card
  .add-weight {
    width: 70%;
    height: auto;
    background-color: #fff;
    margin: auto;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: $shadow;
  }

  // styles for all the input
  input {
    width: 210px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid $skyBlue;
    margin-bottom: 30px;
    color: $skyBlue;
    &::placeholder {
      color: $grey;
    }

    &.submit {
      //   border: none;
      background-color: $skyBlue;
      color: #fff;
    }
  }
}

// Styles for the dashboard/profile
.dashboard {
  .profile {
    width: 60%;
    height: 400px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: $shadow;
    margin: auto;
    padding: 2rem;

    .name {
      margin-bottom: 2rem;
    }
    .current-weight {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #fff;
      margin: auto;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2,
      h3 {
        max-width: 70%;
      }
    }
  }
}

// Styles for the footer
footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  box-shadow: $shadow;
  position: fixed;
  bottom: 0;

  a {
    text-decoration: none;
    color: $skyBlue;
    margin: auto;

    p {
      font-size: 0.7rem;
    }

    img {
      width: 50px;
      height: auto;
    }
  }
}
