* {
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin: 0;
}

body .background {
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(#6dd5ed), to(#2193b0));
  background-image: linear-gradient(to right, #6dd5ed, #2193b0);
  background-size: cover;
}

header {
  padding: 20px;
  margin-bottom: 5rem;
}

header.logo img {
  width: 100px;
}

main .scale {
  margin: 2rem;
}

main .scale img {
  width: 210px;
}

main .add-weight {
  width: 70%;
  height: auto;
  background-color: #fff;
  margin: auto;
  border-radius: 30px;
  padding: 2rem;
  -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
}

main input {
  width: 210px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #2193b0;
  margin-bottom: 30px;
  color: #2193b0;
}

main input::-webkit-input-placeholder {
  color: #999;
}

main input:-ms-input-placeholder {
  color: #999;
}

main input::-ms-input-placeholder {
  color: #999;
}

main input::placeholder {
  color: #999;
}

main input.submit {
  background-color: #2193b0;
  color: #fff;
}

.dashboard .profile {
  width: 60%;
  height: 400px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
  margin: auto;
  padding: 2rem;
}

.dashboard .profile .name {
  margin-bottom: 2rem;
}

.dashboard .profile .current-weight {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard .profile .current-weight h2,
.dashboard .profile .current-weight h3 {
  max-width: 70%;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  background-color: #fff;
  width: 100%;
  padding: 10px 0;
  -webkit-box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #2193b0;
  margin: auto;
}

footer a p {
  font-size: 0.7rem;
}

footer a img {
  width: 50px;
  height: auto;
}
